{% stylesheet %}
.single-image{
		margin-right: 10px;
	}
{% endstylesheet %}
<div class="page-width page-margin">
<h1>{{ section.settings.title }}</h1>
{%- for block in section.blocks -%}
  <img src={{ block.settings.image | image_url }} class="single-image" height="200" width="200" loading="lazy" />
{%- endfor -%}
</div>

{% schema %}
{
    "name": "Wada Lullahh",
    "tag": "section",
    "class": "slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "blocks": [
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
     ]
  }
{% endschema %}