{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
<h1>{{ section.settings.text_title }}</h1>

{% schema %}
{
    "name": "Test Section",
    "tag": "section",
    "class": "slideshow",
    "settings": [      
      {
        "type": "text",
        "id": "text_title",
        "label": "Heading",
        "default": "Quick links"
      }
    ]    
}
{% endschema %}