<div class="page-widt page-margin">
<h1>{{ section.settings.text_title }}</h1>
</div>
{% schema %}
{
    "name": "Test Section",
    "tag": "section",
    "class": "slideshow",
    "settings": [      
      {
        "type": "text",
        "id": "text_title",
        "label": "Heading",
        "default": "Quick links"
      }
    ]    
}
{% endschema %}