<div class="page-width page-margin">
<h1>{{ section.settings.text_title }}</h1>
</div>
{% schema %}
{
    "name": "Test Section",
    "tag": "section",
    "class": "slideshow",
    "settings": [      
    ],
	"blocks": [
		{
         "name": "Image",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
     	},
		{
         "name": "Title",
         "type": "text",
         "settings": [
           {
             "type": "text",
             "id": "text_title",
             "label": "Image",
			 "label": "Heading",
             "default": "Quick links"
           }
         ]
     	}
	]
}
{% endschema %}