<div class="page-width page-margin">
<h1>{{ section.settings.text_title }}</h1>
  {% for block in section.blocks %}
  <div>
    <div>{{ block.subtitle }}</div>
    <div>
    	<img src={{ block.image | image_url }} width="200" height="200" alt="No Problem" />
    </div>
  </div>
  {% endfor %}
</div>
{% schema %}
{
    "name": "Test Section",
    "tag": "section",
    "class": "slideshow",
    "settings": [      
      {
        "type": "text",
        "id": "text_title",
        "label": "Heading",
        "default": "Quick links"
      }
    ],
	"blocks": [
		{
         "name": "Image",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
			{
             "type": "text",
             "id": "subtitle",
             "label": "Image",
			 "label": "Heading",
             "default": "Block Title"
           }
         ]
     	}
	]
	
}
{% endschema %}