{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
<h1>Hello New Section</h1>
<h1>{{ section.settings.text }}</h1>

{% schema %}
{
    "name": "Test Section",
    "tag": "section",
    "class": "slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
       {
         "name": "Sub Title",
         "type": "text",
         "settings": []
       }
     ]
}
{% endschema %}